@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", serif;
  /* background-color:  */
}
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: brown;
  color: white;
}

@media (max-width: 768px) {
  #board {
    transform: translateY(-100%);
    opacity: 0;
  }

  #board.active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .fiy {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}
.show {
  display: none;
}
.show.show_me {
  display: block;
}
ul li {
  cursor: pointer;
}

.toast {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ffca28;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease-in-out;
}
